.square{
    width: 50px;
    height: 100px;
}

@media screen and (min-width: 1024px) {
    .square {
        width: 33%;
        background-color: blue;
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    .square {
        width: 66%;
        background-color: red;
    }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    .square {
        width: 100%;
        background-color: orange;
    }
}